<% if (post.prev || post.next) { %>
<hr />
<nav id="article-nav">
  <ul class="pagination">
  <% if (post.prev){ %>
    <li class="page-item">
      <a class="page-link" id="article-nav-newer" class="article-nav-link-wrap" href="<%- url_for(post.prev.path) %>">
        <%= __('newer') %><strong>
        <% if (post.prev.title){ %>
          <%= post.prev.title %>
        <% } else { %>
          (no title)
        <% } %></strong>
      </a>
    </li>
  <% } %>
  <% if (post.next) { %>
    <li class="page-item">
      <a class="page-link" id="article-nav-older" class="article-nav-link-wrap" href="<%- url_for(post.next.path) %>">
        <%= __('older') %><strong>
        <% if (post.next.title){ %>
          <%= post.next.title %>
        <% } else { %>
          (no title)
        <% } %></strong>
      </a>
    </li>
  <% } %>
  </ul>
</nav>
<% } %>