<article class="archive-article archive-type-<%= post.layout %>">
  <div class="archive-article-inner">
    <header class="archive-article-header"><%- partial('post/title', {class_name: 'archive-article-title'}) %></header>
    <% if (index && post.excerpt) { %><div class="archive-article-excerpt"><%- post.excerpt %></div><% } %>
    <div class="archive-article-more"><a href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%- __('read_more') %></a></div>
    <div class="archive-article-footer"><%- partial('post/date', {class_name: 'archive-article-date', date_format: 'LL'}) %></div>
  </div>
</article>