<article id="<%= post.layout %>-<%= post.slug %>" class="article-panel article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-panel-inner article-inner">
    <div class="article-inner">
      <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
      <header class="article-header"><%- partial('post/title', {class_name: 'article-title'}) %></header>
      <hr />
      <% } %>
      <div class="article-entry" itemprop="articleBody">
        <% if (post.excerpt && index){ %>
          <div class="article-excerpt"><%- post.excerpt %></div>
          <div class="article-more"><a href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%- __('read_more') %></a></div>
        <% } else { %>
          <%- post.content %>
        <% } %>
      </div>
      <hr />
      <footer class="article-footer">
        <div class="article-panel-footer article-meta article-footer">
          <span class="article-meta-left"><%- partial('post/category') %></span>
          <span class="article-meta-right"><%- partial('post/date', {class_name: 'article-date', date_format: 'LL'}) %></span>
          <span class="clearfix"></span>
        </div>
        <!-- 社交分享 --><!-- <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a> -->
        <%- partial('post/tag') %>
      </footer>
    </div>
    <% if (!index){ %>
    <%- partial('post/nav') %>
    <% } %>
    <hr />
    <% if (!index && post.comments) { %>
    <% if (config.disqus_shortname && (post.layout == 'post' || config.disqus_on_page)) { %>
    <section id="comments">
      <div id="disqus_thread"></div>
      <script type="text/javascript">
      var disqus_config = function () {
        this.page.url = "<%- post.permalink %>";
        this.page.identifier = "<%- post.id || url_for(post.path || post.link) || post.permalink %>";
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = 'https://<%- config.disqus_shortname %>.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
      </script>
      <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </section>
    <% } %>
    <% if (config.gitment && config.gitment.owner && config.gitment.repo && config.gitment.oauth.client_id && config.gitment.oauth.client_secret &&
       (post.layout == 'post' || config.gitment.enable_on_page)
    ) { %>
      <div id="gitment_thread"></div>
    <% } %>
    <% } %>
  </div>
</article>