<article id="<%= post.layout %>-<%= post.slug %>" class="article-panel article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <div class="article-panel-inner article-inner">
    <div class="article-inner">
      <%- partial('post/gallery') %>
      <% if (post.link || post.title){ %>
      <header class="article-header"><%- partial('post/title', {class_name: 'article-title'}) %></header>
      <hr />
      <% } %><% if (meta !== false) { %>
      <div class="article-meta">
        <span class="article-meta-left"><%- partial('post/category') %></span>
        <span class="article-meta-right"><%- partial('post/date', {class_name: 'article-date', date_format: null}) %></span>
        <span class="clearfix"></span>
      </div><% } %>
      <div class="article-entry" itemprop="articleBody">
        <% if (post.excerpt && index){ %>
          <div class="article-excerpt"><%- post.excerpt %></div>
          <div class="article-more"><a href="<%- url_for(post.link) %>" target="_blank" itemprop="url"><%- __('read_more') %></a></div>
        <% } else { %>
          <%- post.content %>
        <% } %>
      </div>
      <hr />
      <footer class="article-footer">
        <div class="article-panel-footer archive-article-footer"><%- partial('post/date', {class_name: 'article-date', date_format: 'LL'}) %></div>
        <!-- 社交分享 --><!-- <a data-url="<%- post.permalink %>" data-id="<%= post._id %>" class="article-share-link"><%= __('share') %></a> -->
        <% if (post.comments && config.disqus_shortname){ %>
          <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link"><%= __('comment') %></a>
        <% } %>
        <%- partial('post/tag') %>
      </footer>
    </div>
    <% if (!index){ %>
    <%- partial('post/nav') %>
    <% } %>
    <hr />
    <% if (!index && post.comments && config.disqus_shortname){ %>
    <section id="comments">
      <div id="disqus_thread">
        <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </div>
    </section>
    <% } %>
  </div>
</article>